/0015compressedJPG.jpg
/0015compressedPNG.png
/src/com/compression/StretchingIcon.java
/out/production/PJAVA_KompresjaDicom/com/compression/StretchingIcon.class
/dicom_files/MammoTomoUPMC_Case1.tar.bz2
/dicom_files/MammoTomoUPMC_Case1/
/dicom_files/outputs/
/dicom_files/MammoTomoUPMC_Case6.tar.bz2
/dicom_files/MammoTomoUPMC_Case10.tar.bz2
/dicom_files/MammoTomoUPMC_Case6/
/dicom_files/MammoTomoUPMC_Case10/
